<!DOCTYPE html>
<html lang="en" ng-app="application">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MPS</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.blue-amber.min.css">
    <link rel="stylesheet" href="./index.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  </head>
  <body ng-controller="ApplicationController as aCtrl">
    <div class="spinner-container">
      <div class="mdl-spinner mdl-js-spinner is-active" ng-if="aCtrl.loaded !== true"></div>
    </div>
    <div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Microplate Photoirradiation System (MPS)</span>
          <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">About</a>
            <a class="mdl-navigation__link" href="">Support</a>
            <a class="mdl-navigation__link" href="">Terms of Use</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">HI:LiTED</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">About</a>
          <a class="mdl-navigation__link" href="">Support</a>
          <a class="mdl-navigation__link" href="">Terms of Use</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <section>
            <div class="header">
              <h2>Light Irradiation Experiment - 24 well format</h2>
              <div class="json-button-section">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" ng-model="aCtrl.fileName">
                  <label class="mdl-textfield__label">Experiment Name...</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="aCtrl.printJsonFile()">
                  Print JSON File
                </button>
              </div>
            </div>
            <table id="head-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Condition Name</th>
                  <th class="mdl-data-table__cell--non-numeric">Selected Wells</th>
                  <th class="mdl-data-table__cell--non-numeric">Irradiance Intensity 1-1000 (%)</th>
                  <th class="mdl-data-table__cell--non-numeric">Duration(s)</th>
                  <th class="mdl-data-table__cell--non-numeric">Start Delay (s)</th>
                  <th class="mdl-data-table__cell--non-numeric"># of Cycles</th>
                  <th class="mdl-data-table__cell--non-numeric">Off time (s)</th>
                  <th class="mdl-data-table__cell--non-numeric">Add Condition</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="condition in aCtrl.conditionsList track by $index">
                  <td class="mdl-data-table__cell--non-numeric">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" required ng-model="condition.conditionName">
                      <label class="mdl-textfield__label">Text...</label>
                      <span class="mdl-textfield__error">Condition Name required!</span>
                    </div>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric selected-wells-td">
                    <span class="chip-container" ng-repeat="well in condition.selectedWells">
                      <span ng-click="aCtrl.removeWellFromCondition(condition, well)" class="chip" ng-style="{'background-color': condition.color, 'color': aCtrl.getContrast50(null, condition.color)}">
                        <span>{{well.name}}</span>
                      </span>
                    </span>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="condition.irradianceIntensity"
                        ng-disabled="condition.conditionName === '' || condition.conditionName === undefined">
                      <label class="mdl-textfield__label">Number...</label>
                      <span class="mdl-textfield__error">Number required!</span>
                    </div>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="condition.duration"
                        ng-disabled="condition.conditionName === '' || condition.conditionName === undefined">
                      <label class="mdl-textfield__label">Number...</label>
                      <span class="mdl-textfield__error">Number required!</span>
                    </div>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="condition.startDelay"
                        ng-disabled="condition.conditionName === '' || condition.conditionName === undefined">
                      <label class="mdl-textfield__label">Number...</label>
                      <span class="mdl-textfield__error">Number required!</span>
                    </div>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="condition.numberOfCycles"
                        ng-disabled="condition.conditionName === '' || condition.conditionName === undefined">
                      <label class="mdl-textfield__label">Number...</label>
                      <span class="mdl-textfield__error">Number required!</span>
                    </div>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="condition.offTime"
                        ng-disabled="condition.conditionName === '' || condition.conditionName === undefined">
                      <label class="mdl-textfield__label">Number...</label>
                      <span class="mdl-textfield__error">Number required!</span>
                    </div>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="aCtrl.addCondition()" ng-if="condition === aCtrl.conditionsList[aCtrl.conditionsList.length - 1]">
                      <i class="material-icons">playlist_add</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon"
                      ng-style="{'color': condition.color}"
                      ng-click="aCtrl.removeCondition(condition)" ng-if="condition !== aCtrl.conditionsList[aCtrl.conditionsList.length - 1]">
                      <i class="material-icons">remove_circle</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon"
                      ng-style="{'color': condition.color}"
                      ng-if="condition === aCtrl.selectedCondition" disabled="disabled">
                      <i class="material-icons">fiber_manual_record</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon selected-condition-indicator-not"
                      ng-if="condition !== aCtrl.selectedCondition"
                      ng-click="aCtrl.selectCondition(condition)">
                      <i class="material-icons">fiber_manual_record</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <table id="wells-table" class="">
              <tbody>
                <tr ng-repeat="row in aCtrl.rows">
                  <td ng-repeat="well in aCtrl.wells.slice(row.rowStart, row.rowEnd)">
                    <button id="{{well.name}}"
                      style="bottom: 60px; left: 24px;"
                      ng-style="{'background-color': well.conditionsList[well.conditionsList.length - 1] ?
                        well.conditionsList[well.conditionsList.length - 1].color :
                        'rgb(255,215,64)', 'color': aCtrl.getContrast50(null, well.conditionsList[well.conditionsList.length - 1] ?
                        well.conditionsList[well.conditionsList.length - 1].color :
                        'rgb(255,215,64)')}"
                      ng-disabled="aCtrl.selectedCondition.conditionName === '' || aCtrl.selectedCondition.conditionName === undefined"
                      class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent"
                      ng-click="aCtrl.addWellToCondition(well)">
                      {{well.name}}
                    </button>
                    <div ng-show="well.conditionsList.length > 0" id="{{well.name}}-selection-list" class="mdl-tooltip" for="{{well.name}}">
                      <span ng-repeat="condition in well.conditionsList"><p>{{condition.conditionName}}</p></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>

        </div>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__right-section">
          <div class="mdl-logo">MPS</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
