.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.mdl-tooltip.is-active {
  animation: none;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.mdl-spinner {
  position: fixed;
  left: 5%;
  top: 5%;
  z-index: 10;
  width: 100px;
  height: 100px;
}

.mdl-tooltip p {
  margin: 0 0 5px;
}

.header {
  text-align: center;
}

.selected-wells-td {
  text-align: center!important;
}

.selected-wells-td .chip-container:nth-child(3n):after {
  content: "\A";
  white-space: pre;
}

.chip {
  background-color: #dbdbdb;
  padding: 2px 3px 2px 7px;
  margin: 2px;
  border-radius: 15px;
  color: #FFF;
  text-align: center;
  cursor: pointer;
}
.chip::after {
  font-family: 'Material Icons';
  content: '\E15D';
  font-family: 'Material Icons';
  content: '\E15D';
  font-size: 17px;
  position: relative;
  top: 4px;
  border-radius: 10px;
  cursor: pointer;
}
#head-table {
  margin: 0 auto;
}
#head-table .mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
  width: 10vw;
  max-width: 10vw;
  overflow: hidden;
}
#head-table .mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric:nth-child(1) {
  width: 20vw;
  max-width: 20vw;
}
#head-table .mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric:nth-child(2) {
  width: 20vw;
  max-width: 20vw;
}
#wells-table {
  width: 90vw;
  max-width: 810px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;
}
#wells-table button {
  bottom: 0!important;
  left: 0!important;
}

.json-button-section .mdl-textfield {
  margin-right: 50px;
}

.selected-condition-indicator-not {
  color: #CCC;
}